<a href="https://colab.research.google.com/github/isaquewho/First-1-/blob/main/C%C3%B3pia_de_1_Atividade_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nome = input("Digite seu nome: ")
print("Olá,", nome, "É um enorme prazer te conhecer")

Digite seu nome: jose
Olá, jose É um enorme prazer te conhecer

In [ ]:
nome = input("Nome do Funcionario: ")
ano = input("ano de nascimento: ")
sala = input("Salário: ")

print("Nome: ", nome)
print("Ano de nascimento: ", ano)
print("Salário: ", sala)

Nome do Funcionario: jose
ano de nascimento: 1999
Salário: 2050
Nome:  jose
Ano de nascimento:  1999
Salário:  2050

In [ ]:
antecessor = int(input("Digite um número: "))
print("O antecessor é: ", antecessor - 1)
print("O sucessor é: ", antecessor + 1)

Digite um número: 259
O antecessor é:  258
O sucessor é:  260

In [ ]:
n1 = int(input("Digite um número: "))
n2 = int(input("Digite outro número: "))
print("A soma é: ", n1 + n2)
print("A subtração é: ", n1 - n2)
print("A diferença é: ", n1 - n2)
print("A multiplicação é: ", n1 * n2)
print("A divisão inteira é: ", n1 // n2)
print("A divisão é: ", n1 / n2)
print("O resto da divisão é: ", n1 % n2)

Digite um número: 1
Digite outro número: 2
A soma é:  3
A subtração é:  -1
A multiplicação é:  2
A divisão é:  0.5

In [ ]:


n1 = float(input("Digite a primeira nota: "))
n2 = float(input("Digite a segunda nota: "))
media = (n1 + n2) / 2
print("A média é: ", media)

Digite a primeira nota: 12
Digite a segunda nota: 10
A média é:  11.0

In [1]:
medida = float(input("Digite a medida em metros: "))
print("A medida em centímetros é: ", medida * 100)
print("A medida em milímetros é: ", medida * 1000)
print("A medida em decâmetros é: ",medida / 10)
print("A medida em decímetros é: ", medida * 10)
print("A medida em hectômetros é: ", medida / 100)
print("A medida em quilômetros é: ", medida / 1000)

Digite a medida em metros: 10
A medida em centímetros é:  1000.0
A medida em milímetros é:  10000.0
A medida em decâmetros é:  1.0
A medida em decímetros é:  100.0
A medida em hectômetros é:  0.1
A medida em quilômetros é:  0.01

In [4]:
largura = float(input("Largura da parede: "))
altura = float(input("Altura da parede: "))
area = largura * altura
print("A área da parede é: ", area)
tinta = area / 2
print("A quantidade de tinta necessária é: ", tinta)

Largura da parede: 10
Altura da parede: 19
A área da parede é:  190.0
A quantidade de tinta necessária é:  95.0

In [10]:
desconto = float(input("Digite o valor do produto: "))
print("O valor do produto é: ", desconto)
print("O valor com desconto é: ", desconto - (desconto * 0.05))

Digite o valor do produto: 2000
O valor do produto é:  2000.0
O valor com desconto é:  1900.0

In [14]:
aumentosalarial = float(input("Digite o valor do salário: "))
print("O valor do salário é: ", aumentosalarial)
reajus = float(input("Digite o valor reajuste "))
print("O novo salário é: ", aumentosalarial + (aumentosalarial * reajus / 100))

Digite o valor do salário: 1000
O valor do salário é:  1000.0
Digite o valor reajuste5
O novo salário é:  1050.0

In [16]:
cigarro = int(input("Digite a quantidade de cigarros fumados por dia: "))
tempo = int(input("Digite a quantidade de anos que você já fumou: "))
dias_fumados = tempo * 365
minutos_perdidos = cigarro * 10
dias_perdidos = minutos_perdidos / 1440
print("Você perdeu: ", dias_perdidos, "dias de vida")

Digite a quantidade de cigarros fumados por dia: 100
Digite a quantidade de anos que você já fumou: 20
Você perdeu:  0.6944444444444444 dias de vida